@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#main {
  width: 100%;
  height: 100vh;
  background-color: #131518;
  display: flex;
  justify-content: center;
  align-items: center;
}
#card {
  background-color: #232a34;
  padding: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  width: 40%;
  border-radius: 30px;
 
}
#checkBoxList {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 21px;
}
#starDiv {
  background-color: #262e38;
  width: 17px;
  height: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  border-radius: 50%;
  align-self: start;
}
#textDiv h1 {
  color: #ffffff;
  font-family: Overpass;
  font-size: 28px;
  font-weight: 700;
  line-height: 35px;
  letter-spacing: 0px;
  text-align: left;
  gap: 15px;
}
#textDiv p {
  color: #969fad;
  font-family: Overpass;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
}
#listDiv {
  background-color: #262e38;
  width: 51px;
  height: 51px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

li {
  background-color: 262e38;
  color: #7c8798;
  font-family: Overpass;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.20000000298023224px;
  text-align: center;
}
#submitButton {
  background-color: #fc7614;
  color: #ffff;
  border: none;
  border-radius: 30px;
  padding: 40%;
  padding-top: 4% !important;
  padding-bottom: 4% !important;
}
#result {
  background-color: #232a34;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 gap: 30px;
 display: none;
}
#resultTextDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
#resultTextDiv p {
    width: 87%;
  text-align: center;
  color: #969fad;
  font-family: Overpass;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: center;
}
#resultTextDiv h1 {
  color: #ffffff;
  font-family: Overpass;
  font-size: 28px;
  font-weight: 700;
  line-height: 35px;
  letter-spacing: 0px;
  text-align: left;
}
#SelectedDiv{
    background-color: #262E38;
    border-radius: 15px;
    padding-left: 2%;
    padding-right: 2%;
    padding: 1%;
    color: #FC7614;
    
}
#result{
    padding: 5%;
    width: 45%;
}
#SelectedDiv p {
    font-family: Overpass;
font-size: 15px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0px;
text-align: center;

}

#listDiv:hover{
    background-color: #7C8798;
    li{
        color: #FFFF;
    }
}


